<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul>
<div class="container">
    <table>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>Address</th>
            <th>Eamil</th>
        </tr>
        <tbody>
        <% data.forEach((user)=> { %>
            <tr>
                <td><%= user.maKH %></td>
                <td><%= user.userName %></td>
                <td><%= user.address %></td>
                <td><%= user.email %></td>
            </tr>
        <% }); %>


        </tbody>

    </table>
</div>

</body>
</html>